
 
    .custom-card {
        width: 800px;
        max-width: 90%;
        height: auto;
        overflow-y: auto;
    }

    .custom-card img {
        width: auto;
        height: auto;
        max-width: 100%;
    }

    .image-container {
        display: flex;
        justify-content: center;
        margin-bottom: 5rem;
    }

    /* Modal card styling */
    .pinjam-modal-card {
        max-width: 900px;
        min-height: 600px;
        width: 100%;
        padding: 30px;
        position: relative;
    }

    /* Close button (X) styles */
    button.absolute {
        font-size: 1.75rem;
        background: none;
        border: none;
        cursor: pointer;
    }